<header class="flex justify-between items-center py-6 w-[1120px] mx-auto">
    <img
        class="rounded-full size-16 mt-4"
        src="/static/irene-pintor.webp"
        alt="irene pintor photo">
    <nav class="flex flex-row gap-x-10 opacity-80">
        <a href="#top">Home</a>
        <a href="#about-me">About</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>