---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/dm-mono';

interface Props{
	title: string
	description: string
}
const { description, title } = Astro.props
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio | Irene Pintor</title>
	</head>
	<body>
		<div class="absolute top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]"></div>
		<Header/>
		<slot />
		<Footer/>
	</body>
</html>
<style is:global>
	:root {
		color-scheme: light dark;
	}
	html {
		font-family: 'DM Mono', monospace;
		scroll-behavior: smooth;
	}
	body {
		color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
	}
	@media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
	@media (prefers-color-scheme: dark) {
        body {
            color: rgba(255, 255, 255, 0.9);
        }
    }
</style>
